.button_background {
    background-color: rgb(163 230 53/var(--tw-bg-opacity));
}

.slide-up {
    animation: slideUp 0.8s ease-in-out;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-in-slide-left {
    opacity: 0;
    transform: translateX(4%);
    animation: fadeInSlideLeft 0.5s ease-in-out forwards;
    animation: fadeInSlideLeft 0.5s ease-in-out forwards;
}

@keyframes fadeInSlideLeft {
    from {
      opacity: 0;
      transform: translateX(4%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }